arxiv

crossrefapi

Flask

Flask-Cors

Flask-Login

Flask-Mail

Flask-SQLAlchemy

Flask-WTF

fpdf

google-ai-generativelanguage

google-generativeai

gTTS

gunicorn

huggingface-hub

langchain

langchain-community

langchain-core

langchain-google-genai

ollama

openai

pdfkit

PyJWT

PyMuPDF

pyTelegramBotAPI

requests

scholarly

SQLAlchemy

telebot

uvicorn

websockets

Werkzeug

wikipedia