<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dynax! </title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/paper.css')}}">
</head>

<body>
    <div class="container">
        <nav class="navbar">

            <div class="logo"> Dynax! </div>

            <ul class="nav-links">
                <li><a href="#"> Analyze </a></li>
                <li><a href="/search"> Search </a></li>
                <li><a href="#"> History </a></li>
                <li><a href="#"> About </a></li>
            </ul>
             
            <div hidden id="auth-token"> {{auth}} </div>

            {% if not auth %}
            <div class="auth-buttons">
                <a href="/auth/login" class="login-btn"> Log In </a>
                <a href="/auth/signup" class="signup-btn"> Sign Up </a>
            </div>
            {% else %}
            <div>
                <a href="/auth/logout" class="logout-btn" onclick="alert('ARE YOU SURE YOU WANT TO LOGOUT?  ')">
                    Log Out
                </a>
            </div>
            {% endif %}
        </nav>

        <div class="logo-container"></div>
        <div class="logo-x">
            <span class="logo-icon"></span>
            Dynax!
        </div>
    </div>

    <div class="res-head"> 
        <p class="res-title"> {{paper['title']}} </p>
        <p class="res-author"> {{paper['authors']}} </p>
    </div>

    <ul class="res-content"> 
        <li class="res-data"> Date - {{paper['date']}}</li>
        <li class="res-data"> Subject - {{paper['field']}}</span>
        <li class="res-data" id="res-doi"> DOI - {{paper['doi']}}</span>
        <li class="res-data"> URL - <a href="{{paper['url']}}">{{paper['url']}}</a></span>
    </ul>

    <div class="res-abstract"> 
        <h1 class=""> Abstract </h1>
        <p class="abstract-content"> {{paper['abstract']}} </p>
    </div>

    <br>
    <hr>

    <div class="btn-s">

        <button class="res-btn" id="btn-ls"> 
            Analyze
        </button>

        <button class="res-btn" id="btn-rs" href="{{paper['pdf']}}" download="/">
            Download
        </button>

    </div>

    <div class="dyn-loading">
        <div class="spinner"></div>
    </div>

    <div class=".analysis"> </div>

    
    <footer class="footer-section">
        <p id="foot-gr-stl"> &copy; 2025 Dynax!. All rights reserved.</p>
        <br>
        <div class="social-links">
            <a href="https://x.com/AI_Instaraj"> Twitter </a>
            <a href="#"> LinkedIn </a>
            <a href="https://github.com/AIINSTARAJ"> GitHub </a>
        </div>
    </footer>
    <script src="{{url_for('static', filename = 'js/paper.js')}}"></script>
</body>
</html>